.navbar-nav {
    display: flex;
    gap: 20px;
}

.nav-item {
    display: flex;
    align-items: center;
    letter-spacing: -1px;

    a {
        color: #000;
        padding: 0 !important;

        &:hover {
            color: gray;
        }
    }

    &.active {
        position: relative;

        a {
            color: #0282f9;
        }

        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 5px;
            background-color: #0282f9;
        }
    }
}